.inputWrap {
  display: flex;
  flex-direction: column;
  gap: 5px;
  font-size: 20px;
}
.errorDiv {
  font-size: 13px;
  color: brown;
  margin-bottom: 10px;
  font-weight: 500;
}
.submitBtn {
  margin-top: 10px;
  width: 100px;
  height: 30px;
  border: 1px solid gray;
  border-radius: 10px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover {
    cursor: pointer;
    background-color: antiquewhite;
  }
}
.input {
  border: 1px solid gray;
  border-radius: 5px;
  height: 25px;
  padding-left: 10px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:focus {
    background-color: antiquewhite;
  }
}
.form {
  margin-bottom: 20px;
}
