.contact {
  list-style-type: none;
  margin-right: 30px;
  margin-left: 30px;
}
.contactItem {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  font-size: 20px;
}
.subButton {
  width: 80px;
  height: 25px;
  border: 1px solid gray;
  border-radius: 10px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover {
    cursor: pointer;
    background-color: antiquewhite;
  }
}
.name {
  font-weight: 600;
  font-style: italic;
}
